<footer class="bg-dark text-white py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Tech & Open Source Podcast</h5>
                <p>Retrouvez-nous bientôt sur les réseaux sociaux</p>
            </div>
            {# <div class="col-md-6 text-end">
                <div class="social-links">
                    <a href="#" class="text-white me-3">
                        <i class="bi bi-youtube"></i>
                    </a>
                    <a href="#" class="text-white me-3">
                        <i class="bi bi-cloud-fog2"></i>
                    </a>
                    <a href="#" class="text-white">
                        <i class="bi bi-discord"></i>
                    </a>
                </div>
            </div> #}
        </div>
        <div class="row mt-3">
            <div class="col text-center">
                <p class="mb-0">&copy; 202 Tech & Open Source Podcast. Tous droits réservés.</p>
                <p class="mb-0">Développé par <a href="https://depannageinformatique18.fr" class="text-white">Programmation informatique</a></p>
            </div>
        </div>
    </div>
</footer>
