<footer class="bg-dark text-white py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-start">
                <h5 class="fw-bold text-decoration-underline">Tech Libre</h5>
                <div class="d-flex flex-column flex-md-row justify-content-center justify-content-md-start align-items-center mt-2">
                    <a href="https://buy.stripe.com/28o00C5Ozgiiat2144" class="text-white mb-2 mb-md-0 me-2" target="_blank">
                        Si vous appréciez, montrez votre soutien en nous offrant un café.
                    </a>
                    <a href="https://buy.stripe.com/28o00C5Ozgiiat2144" class="text-white fs-3" target="_blank">
                        <i class="bi bi-cup-hot"></i>
                    </a>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-center justify-content-md-start align-items-center">
                    <a href="https://www.youtube.com/@TechLibre-b6i" class="text-white mb-2 mb-md-0 me-2" target="_blank">
                        Retrouvez-nous en live sur YouTube.
                    </a>
                    <a href="https://www.youtube.com/@TechLibre-b6i" class="text-white fs-3" target="_blank">
                        <i class="bi bi-youtube"></i>
                    </a>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-center justify-content-md-start align-items-center">
                    <a href="https://github.com/alexandre-verbreugh/BlogPodcast" class="text-white mb-2 mb-md-0 me-2" target="_blank">
                        Retrouver le Repository du blog ici
                    </a>
                    <a href="https://github.com/alexandre-verbreugh/BlogPodcast" class="text-white fs-3" target="_blank">
                        <i class="bi bi-github"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-6 text-center text-md-end mt-3 mt-md-0">
                {% if app.user %}
                    <a href="{{ path('app_logout') }}" class="btn btn-primary mb-2">Déconnexion</a>
                {% else %}
                    <a href="{{ path('app_login') }}" class="btn btn-primary mb-2">Connexion</a>
                {% endif %}
                <p>
                    <a href="https://discord.gg/2kSGWNQSBf" class="text-white mb-2 mb-md-0 me-2" target="_blank">
                        Retrouver nous sur Discord.
                    </a>
                    <a href="https://discord.gg/2kSGWNQSBf" class="text-white fs-3" target="_blank">
                        <i class="bi bi-discord"></i>
                    </a>
                </p>
                <p class="mb-0">&copy; 2024 Tech & Open Source Podcast. Tous droits réservés.</p>
                <p class="mb-0">Développé par
                    <a href="https://depannageinformatique18.fr" class="text-white" target="_blank" rel="noopener noreferrer">
                        Programmation informatique
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>
